


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Form - MongoDB</title>
       <link rel="stylesheet" href="index1.css" type="text/css"> 
       
</head>
<body>
    <div class="main"><strong>wellcome to facebook</strong></div>
    <div class="container">
        <form action="/sign_up" method="get">
            <button  class="button">register</button>
        </form>
        <br><br><br><br><br>    
        <form action="/log_in" method="get">
            <!-- <button  class="button it" type="submit" >login</button> -->
            <input type="submit"  value="login" class="button it" />
        </form>
        <!-- <li  type="none" class="bha"><a href="">register</a></li> <br><br>
        <li  type="none" class="bha"><a href="">login</a></li> -->
    </div>
     <div>
        <form action="/google">
            <button>sign in with google</button>
        </form>
     </div>



</body>
</html>

